$event_default: red;

$offwhite: #efefef;
$midwhite: #a0a0a0;
$darkwhite: darken($midwhite, 15%);
$yellow: #ffd800;
$red: rgb(233, 0, 19);
$green: rgb(61, 241, 79);
$midgrey: rgb(44, 44, 44);
$darkgrey: #232323;
$black: #000000;

$category_group00: #FF0000;
$category_group01: #226b22;
$category_group02: #671f6f;
$category_group03: #0000bf;
$category_group04: #d3ce2a;
