.button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  border: 0;
  border-radius: 0em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  outline: none;
  text-align: left;
}
.button--primary {
  color: $offwhite;
  background-color: $default;
}
.button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 2px inset;
}
.button--small {
  font-size: 12px;
  padding: 10px 16px;
  margin: 0.6em 0.3em 0 0;
}
.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.no-hover {
  cursor: auto !important;
}
