@import 'icons';
@import 'video';

.cabinet-wrapper {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  color: $offwhite;
  background-color: $black;
  font-family: 'Merriweather', serif;
  transition: opacity 0.5s ease 0.1s, z-index 0.1s ease 0s;
  opacity: 1;
  z-index: $final-level;

  &.hidden {
    transition: opacity 0.5s ease 0s, z-index 0.1s ease 0.5s;
    opacity: 0;
    z-index: $hidden;
  }

  &.show {
      z-index: $final-level;
  }

  .top-action {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;

    button {
      font-family: 'Lato';
      font-size: $xlarge;
      text-align: left;
      text-transform: uppercase;
      background: none;
      border: none;
      color: $offwhite;
      outline: none;
      cursor: pointer;
      transition: 0.2s ease;
      letter-spacing: 0.1em;

      .label {
        height: 28px;
        float: left;
        line-height: 28px;
        padding-left: 10px;
      }

      svg {
        float: left;
        path, circle, polygon,
        polyline, line {
          stroke-width: 2px;
          transition: 0.2s ease;
          stroke: $offwhite;
          fill: none;
          stroke-linecap: round;
        }
      }

      &:hover {
        transition: 0.2s ease;
        letter-spacing: 0.15em;
      }
    }
  }

  .cabinet-header {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 20px 0;
    background: $black;
    transition: 1s ease;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;

    .header-title {
      width: 280px;
      margin: 0 auto;
      cursor: pointer;

      p {
        font-size: $normal;
        margin: 0;
        width: 100%;
        text-align: center;
        transition: 2s ease;
        letter-spacing: normal;
      }
      p:first-child {
        font-size: 8px;
      }

      &:hover {
        p {
          transition: 2s ease;
          letter-spacing: 0.1em;
        }
      }
    }
  }

  .share-sm {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .side-menu-file-cabinet {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
  }

  .logo-fa {
    background: url('/static/archive/img/logo-fa-square.png');
    margin: 0px 0 30px 20px;
    height: 30px;
    width: 30px;
    background-size: 30px;
    animation-name: fadeIn;
    animation-duration: 3s;
    position: fixed;
    top: 20px;
    cursor: pointer;
  }

  &.cabinet-wrapper-files {
    display: block;
    background: $black;
  }

  &.cabinet-wrapper-cover {
    background-color: $black;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
  }
}

.cabinet-cover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  bottom: 0;
  top: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;

  .content {
    display: inline-block;
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 2px;
    overflow: auto;
  }

  .cabinet-cover-header {
    width: 100%;
    margin-bottom: 20px;
    animation-name: fallFadeIn;
    animation-duration: 3s;

    .main-title {
      .title {
        font-size: $cover-title;
        text-transform: uppercase;
      }
      margin-top: 0;
      margin-bottom: 0;
    }
    .untertitle {
      font-size: $xxlarge;
      text-transform: none;
      letter-spacing: 0.1em;
    }
  }

  .cabinet-cover-content {
    width: 100%;

    animation-name: fadeIn;
    animation-duration: 3s;

    .tile-row {
      position: relative;
      padding: 10px;
      box-sizing: border-box;

      .tile {
        position: relative;
        display: inline-block;
        width: calc(50% - 20px);
        height: 90px;
        line-height: 90px;
        box-sizing: border-box;
        background: none;
        border: 1px solid $offwhite;
        font-family: 'Lato', Helvetica, sans-serif;
        font-size: $xxlarge;
        text-transform: uppercase;
        cursor: pointer;
        transition: 1s ease;
        letter-spacing: 0.1em;

        span {
          z-index: 1;
        }

        &:before {
          position: absolute;
          content: " ";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          z-index: 0;
          transition: 1s ease;
          background-color: rgba($black, 0.15);
        }

        &:hover {
          transition: 1s ease;
          letter-spacing: 0.15em;
          &:before{
            transition: 1s ease;
            background-color: rgba($black, 0.3);
          }
        }

        &:first-child {
          margin-right: 20px;
        }

        &.full {
          width: 100%;
          margin-right: 0;
        }

        & * {
          position: relative;
        }

        .tile-content {
          margin: 0 auto;
          padding: 30px 0;
          width: 200px;

          .label {
            height: 28px;
            float: left;
            line-height: 28px;
            padding-left: 10px;
          }

          svg {
            float: left;
            path, circle, polygon,
            polyline, line {
              stroke-width: 2px;
              transition: 0.2s ease;
              stroke: $offwhite;
              fill: none;
              stroke-linecap: round;
            }
          }
        }
      }
    }
  }
}

.secondary-action {
  width: 90px;
  margin: 0 auto;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: $small;
  padding: 20px 0;
  text-align: center;
  transition: 0.2s ease;
  border-bottom: 2px solid rgba($offwhite, 0);
  cursor: pointer;

  &:hover {
    transition: 0.2s ease;
    letter-spacing: 0.15em;
    border-bottom: 2px solid $yellow;
  }
}

.cabinet-files {
  animation-name: fadeIn;
  animation-duration: 0.5s;

  &.file-tab-list-off {
    ul.cabinet-file-tab-list {
      transition: 0.2s ease;
      left: -300px;
    }
  }

  ul.cabinet-file-tab-list {
    width: 300px;
    position: fixed;
    float: left;
    top: 0;
    bottom: 0;
    margin: 0;
    padding-top: 160px;
    border-right: 1px solid $darkgrey;
    background: $black;
    transition: 0.2s ease;
    left: 0;
    z-index: 1;

    li.cabinet-file-tab {
      width: calc(100% - 40px);
      text-align: left;
      border: 0;
      margin-left: 20px;
      margin-right: 20px;
      box-sizing: border-box;
      font-family: 'Merriweather', serif;
      font-size: $large;
      font-weight: 100;
      border-bottom: 1px solid $darkgrey;
      transition: 0.2s ease;
      color: $offwhite;

      &:hover {
        transition: 0.2s ease;
        color: $yellow;
      }

      &.react-tabs__tab--selected {
        color: $yellow;

        &:after {
          content: ' →';
        }
      }
    }

    .action {
      text-align: left;
      border: 0;
      box-sizing: border-box;

      button {
        margin: 20px;
        width: calc(100% - 40px);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-family: 'Lato';
        font-size: $large;
        text-align: left;
        padding-left: 0;
      }

      &.secondary-action button {
        padding: 20px;
        border: 1px solid $midwhite;
        text-align: center;
        &:hover {
          transition: 0.2s ease;
          border-color: $offwhite;
          background: rgba($offwhite, 0.1);
        }
      }
    }

    .language-toggle {
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 10;
    }
  }



  .react-tabs__tab-panel {
    z-index: 0;
  }

  .cabinet-file-content {
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 140px 30px 60px 30px;
    border-radius: 2px;
    overflow: auto;
    margin: 0 auto;
      text-align: left;
    animation-name: fadeIn;
    animation-duration: 1.5s;

    h1 {
      font-size: $title;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 50px;
    }

    .title-separator {
      margin: 0 auto;
      width: 100px;
      border-bottom: 4px solid $yellow;
      margin-bottom: 50px;
    }

    h2 {
      letter-spacing: normal;
      text-transform: capitalize;
      margin-top: 40px;
    }

    .cabinet-body-text {
      padding: 10px 0;

      .section {
        margin-bottom: 40px;
      }

      p {
        margin: 20px 0;
        font-size: $xlarge;
        font-weight: 100;
        line-height: 24px;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .highpoint {
        font-size: $xxxlarge;
        margin: 60px 0;
        border-left: 4px solid $yellow;
        padding-left: 20px;
      }

      img {
        width: 100%;
      }

      .actions {
        width: 100%;
        display: inline-block;
      }

      .primary-action {
        button {
          font-size: $large;
          height: 140px;
          line-height: 140px;
          width: 100%;
          padding: 0;
          border: 1px solid $offwhite;
          background-size: 100%;
          color: $offwhite;
          cursor: pointer;
          outline: none;
          font-family: 'Lato', Helvetica, sans-serif;
          text-transform: uppercase;
          margin-bottom: 10px;
          transition: 0.2s ease;
          letter-spacing: 0.1em;

          &:after {
            content: ' →';
          }

          &:hover {
            transition: 0.2s ease;
            letter-spacing: 0.15em;
          }
        }

        &.only-on-mobile {
          display: none;

          button:after {
            content: '';
          }
        }

        &.ja {
          button { background-image: url("/static/archive/img/scene01.jpg"); }
        }
        &.pj {
          button { background-image: url("/static/archive/img/scene02.jpg"); }
        }
        &.st {
          button { background-image: url("/static/archive/img/scene03.jpg"); }
        }
      }
    }
  }

  .actions {
    min-width: 200px;
    margin: 0 auto;

    .action {
      display: inline-block;
      float: left;
    }

    button {
      font-size: $large;
      display: block;
      width: 100%;
    }

    .primary-action {
      width: 100%;
      animation-name: fadeIn;
      animation-duration: 1s;

      &:first-child {
        margin-right: 5%;
      }

      button {
        height: 120px;
        margin: 20px auto;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-family: 'Lato';
      }

      &.mobile {
        width: 100%;
      }
    }

    .document-action {
      width: 100%;
      border: 0;
      display: block;
      margin: 0 auto;
      clear: both;

      button {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 10px auto;
        padding: 0;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        border: 0;
        outline: none;
        border-bottom: 4px solid rgba($yellow, 0);
        background: none;

        a {
          text-align: center;
          box-sizing: border-box;
          padding-bottom: 5px;
          cursor: pointer;
          text-decoration: none;
          color: $offwhite;

          &:after {
            content: '↓';
          }
          &:hover {
            transition: 0.2s ease;
            border-bottom: 4px solid rgba($yellow, 1);
            color: $yellow;
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }
}

/**
*
* VIDEO ON LANDING
*/

.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: $black;
}
.video {
  display: block;
	left: 0px;
	overflow: hidden;
	padding-bottom: 56.25%; /* 56.25% = 16:9. set ratio */
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.video .wrapper {
  display: block;
	height: 300%;
	left: 0px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.video iframe {
  display: block;
	height: 100%;
	width: 100%;
}

/*
* VIDEO ON SITE
*/

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*
* Responsiveness
*
*/

@media (max-width: 780px) {
  .cabinet-files .cabinet-file-content .cabinet-body-text .primary-action {
    &.not-on-mobile {
      display: none;
    }
    &.only-on-mobile {
      display: block;
    }
  }
  .cabinet-cover {
    .content {
      padding: 0;
    }
    .cabinet-cover-header {
      margin-bottom: 40px;

      .main-title {
        .title {
          font-size: 36px;
        }
      }
      .untertitle {
        font-size: $normal;
      }
    }

    .cabinet-cover-content .tile-row {
      padding: 0;

      .tile {
        width: 60%;
        height: 48px;
        line-height: 48px;
        margin: 0 20%;
        margin-bottom: 10px;
        font-size: $normal;
        &:first-child {
          margin-right: 20%;
        }
        &.tile00 {
          display: none;
        }
      }
    }
  }

  .cabinet-files {
    ul.cabinet-file-tab-list {
      width: 100%;

      li.cabinet-file-tab {
        text-align: center;
        font-size: $normal;
        height: 48px;
        line-height: 48px;
      }
    }

    &.file-tab-list-off {
      ul.cabinet-file-tab-list {
        transition: 0.2s ease;
        left: -100%;
      }
    }

    .cabinet-file-content {
      width: 100%;
      margin: 0;
      padding: 100px 15px 40px 15px;
      box-sizing: border-box;
      overflow: auto;

      .cabinet-body-text {
        padding: 10px 0;
        font-size: $xlarge;

        p {
          margin: 20px 0;
        }

        img {
          width: 100%;
        }
      }
    }
  }
  .top-action.not-on-mobile {
    display: none;
  }
}

/* Tablets with very short heights */
@media (max-height: 768px) and (min-width: 780px) {
  .cabinet-cover .content {
    max-width: 640px;
  }

  .cabinet-cover .cabinet-cover-header {
    margin-bottom: 20px;

    .main-title .title {
      font-size: 48px;
    }
  }

  .cabinet-cover .cabinet-cover-content .tile-row .tile {
    height: 50px;
    line-height: 50px;
    font-size: $xlarge;

    .tile-content {
      padding: 10px 0;
    }
  }
}

@media (min-width: 1350px) {
  .cabinet-files {
    animation-name: fadeIn;
    animation-duration: 0.5s;

    &.file-tab-list-off {
      ul.cabinet-file-tab-list {
        left: 0;
      }
    }
  }

  .side-menu-file-cabinet {
    display: none;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}
