@import 'burger';

.infopopup {
  width: 400px;
  height: 400px;
  box-shadow: 10px -10px 38px rgba(0, 0, 0, 0.3), 10px 15px 12px rgba(0, 0, 0, 0.22);
  color: $darkgrey;
  position: absolute;
  background: $offwhite;
  border-radius: 5px;
  bottom: 20px;
  left: 100px;
  border: 3px solid $offwhite;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-size: $large;
  transition: opacity 0.5s ease 0.1s, z-index 0.1s ease 0s;
  opacity: 1;
  z-index: $overheader;

  &.hidden {
    transition: 0.5s ease;
    opacity: 0;
  }

  .legend {
    display: flex;
    flex-direction: column;
  }

  .legend-header {
    display: flex;
    flex-direction: row;
    h2 {
      display: flex;
      font-size: 12pt;
      letter-spacing: 2px;
      margin: 0;
    }
  }
  .side-menu-burg {
    position: absolute;
    right: 8px;
    top: 10px;
  }

  .legend-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .legend-section {
    width: 300px;
    height: 25px;
    display: flex;
    align-items: center;

    svg {
      width: 60px;
      float: left;
      display: inline-block;
    }

    .legend-labels {
      display: flex;

      .label {
        font-size: $xsmall;
      }
    }

  }
}
