@import 'burger';

.infopopup {
  width: $infopopup-width;
  box-shadow: 10px -10px 38px rgba(0, 0, 0, 0.3), 10px 15px 12px rgba(0, 0, 0, 0.22);
  color: $darkgrey;
  position: absolute;
  background: $offwhite-transparent;
  bottom: $timeline-height;
  left: $toolbar-width;
  border: 3px solid $offwhite;
  border-radius: 1px;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-size: $large;
  transition: opacity 0.5s ease 0.1s, z-index 0.1s ease 0s;
  opacity: 1;
  z-index: $overheader;

  &.hidden {
    transition: 0.5s ease;
    opacity: 0;
  }

  .side-menu-burg {
    position: absolute;
    right: 8px;
    top: 10px;
    &.light {
      &.is-active span:after,
      &.is-active span:before {
        background: black;
      }
    }
  }

  &.dark {
    background: $black-transparent;
    color: white;
  }

  iframe {
    flex: 1;
    width: 100%;
    min-height: 400px;
  }

  @media (max-height: 1000px) {
    iframe {
      min-height: 230px;
    }
  }


  .legend {
    display: flex;
    flex-direction: column;
  }

  .legend-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    h2 {
      display: flex;
      font-size: 12pt;
      letter-spacing: 2px;
      margin: 0;
    }
  }

  .legend-container {
    height: 100%;
    display: flex;
    flex-direction: row;

    .legend-item {
      display: flex;
      justify-content: center;
      align-items: center;
      &.one {
        flex: 1;
      }
      &.three {
        flex: 5;
      }
    }
  }

  .legend-section {
    height: 25px;
    display: flex;
    align-items: center;

    svg {
      width: 60px;
      float: left;
      display: inline-block;
    }

    .legend-labels {
      display: flex;
    }
  }
}
