$panel-width: 800px;
$panel-height: 700px;
$vimeo-width: $panel-width - 100;
$vimeo-height: $panel-height / 2;
$padding: 20px;
$header-inset: 10px;

.mo-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(239, 239, 239, 0.5);
  z-index: 20;
}

.mo-container {
  // max-width: $panel-width;
  // min-width: $panel-width;
  // max-height: $panel-height;
  // min-height: $panel-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80vh;
  max-width: 90vw;
  box-shadow: 0 19px 19px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  .mo-media-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mo-header {
  min-height: 42px;
  max-height: 42px;
  margin-bottom: 2px;
  border-radius: 2px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;

  .mo-header-close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $header-inset + 8px;
  }

  .mo-header-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: $padding;
    font-family: "Lato", Helvetica, sans-serif;
  }
  .back, .next {
    position: absolute;
    width: 30px;
    height: 30px;
    background: $darkgrey;
    color: $offwhite;
    cursor: pointer;
    box-shadow: 0 19px 19px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    svg path { fill: $offwhite; }
  }

  .back { left: 10px; svg path { transform: translate(17px,15px)rotate(-90deg)} }
  .next { right: 10px; svg path { transform: translate(17px,15px)rotate(90deg)} }
}

.mo-header {
  min-height: 42px;
  max-height: 42px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;

  .mo-header-close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $header-inset + 8px;
  }

  .mo-header-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: $padding;
    font-family: "Lato", Helvetica, sans-serif;
  }
}

.mo-media-container {
  background-color: rgba(239, 239, 239, 0.9);
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  max-height: 60vh;
  padding: 20px;
  font-family: "Lato", Helvetica, sans-serif;

  .media-player {
    width: 100%;
    max-width: $vimeo-width;
  }

  .media-content {
    display: flex;
    flex-direction: column;
  }

  // NB: topcushion seems to be necessary with certain overflows..
  &.topcushion {
    padding-top: 150px;
  }
}

.mo-meta-container {
  background-color: rgba(239, 239, 239, 0.9);
  display: flex;
  justify-content: center;  
  box-sizing: border-box;
  min-height: 100px;
  min-width: $panel-width;
  max-width: $panel-height;
  display: flex;
  justify-content: center;  
  box-sizing: border-box;
  min-height: 100px;
  width: 100%;
  padding: $padding;

  .mo-box {
    display: flex;
    flex-direction: column;
    max-width: $panel-width;
    width: 100%;
    padding: $padding 0;
    border-top: 1px solid rgb(189,189,189);
    font-family: "Lato", Helvetica, sans-serif;
    font-size: $normal;

    h4 {
      margin: 0 0 5px 0;
      text-transform: uppercase;
      font-size: $xsmall;
      color: $darkwhite;
      font-weight: 100;      
    }

    p {
      margin-top: 0;
      font-size: $large;
    }

    .material-icons {
      font-size: $normal;
      color: $darkwhite;
      margin-right: 5px;
    }      

    a {
      font-size: $large;
      color: $darkgrey;
      border-bottom: 1px solid $red;
      &:hover { border-bottom: 1px solid $darkgrey; }
    }
  }

  .indent {
    margin-left: 2*$header-inset;
  }
}

.mo-controls {
  color: white;
  width: $vimeo-width;
  background-color: black;
}

.media-player {
  min-width: $vimeo-width;
  max-width: $vimeo-width;
  min-height: $vimeo-height;
  max-height: $vimeo-height;
  border: none;

  iframe, video {
    width: $vimeo-width;
    height: $vimeo-height - 50;
    border: none;
  }
}

.media-controls {
  padding: 0 50px;
}


/* source overlay specific styles */
.no-source-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  padding: 2em;
  min-height: 200px;
}

.no-source-row {

  p {
    text-align: center;
    color: $midgrey;

    .no-source-icon {
      font-size: $xxxlarge;
      color: $darkwhite;
    }
  }
}

.source-media-gallery {
  display: flex;
  flex-direction: row;
  height: 100%;
  transition: transform 0.6s ease 0s;
}

.source-text-container {
  padding: 0 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.source-image-container, .media-player {
  display: flex;
  justify-content: center;
  width: calc(100% - 20px);
  height: 100%;
  min-width: calc(100% - 20px);
  margin: 0 10px;
  background: $lightwhite;
  border-radius: 2px;
}

.source-image, .source-video {
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  padding: 10px;
}

.media-player {
  overflow-y: hidden;
}
