$vimeo-height: 800px;
$vimeo-width: 1000px;

.mo-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(230, 230, 230, 0.5);
  z-index: 20;
}

.mo-header {
  min-height: 4em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .mo-header-close {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4em;
  }

  .mo-header-text {
    flex: 1;
    margin-left: -4em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mo-container {
  background-color: rgba(230,230,230,0.98);
  max-width: 800px;
  min-width: 800px;
  max-height: 600px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .mo-media-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.mo-media-container {
  max-height: $vimeo-height;
}

.mo-controls {
  color: white;
  width: $vimeo-width;
  background-color: black;
}

.vimeo-iframe {
  min-height: $vimeo-height;
  max-height: $vimeo-height;
  min-width: $vimeo-width;
  max-width: $vimeo-width;
  border: none;
}
