.scene-wrapper {
    #container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
    }
    &.hidden {
        z-index: $hidden;
    }
    &.show {
        z-index: $scene;
    }
}
#loadingText {
    text-align: center;
    position:relative;
    margin: 0 auto;
    margin-top: 20px;
    clear:left;
    height:auto;
    z-index: 0;
    color: rgba( 255, 255, 255, 255 );
    font-size: $normal;
    font-weight: 700;
    color: $offwhite;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}


.back-to-map {
  button {
    position: fixed;
    top: 20px;
    left: 130px;
    height: 20px;
    width: 250px;
    text-align: left;
    background: none;
    padding: 0;
    margin-bottom: 10px;
    border: none;
    background-size: 100%;
    line-height: 20px;
    color: $offwhite;
    cursor: pointer;
    outline: none;
    font-family: 'Lato', Helvetica, sans-serif;
    text-transform: uppercase;
    transition: 0.2s ease;
    letter-spacing: 0.1em;

    &:hover {
      transition: 0.2s ease;
      letter-spacing: 0.15em;
    }
  }
}

/*
KEYFRAME INFO
*/
.keyframe-info {
  position: fixed;
  top: 60px;
  left: 130px;
  height: auto;
  width: 270px;
  box-sizing: border-box;
  padding: 10px;
  max-height: calc(100% - 250px);
  overflow: auto;
  box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.22);
  background: $black;
  border: 1px solid $midgrey;
  color: $offwhite;
  font-family: 'Merriweather', 'Georgia', serif;

  h3, h6 {
    text-align: center;
  }

  h3 {
    font-size: $large;
  }

  p {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: $normal;
    line-height: 1.4em;
  }

  .actions {
    width: 100%;
    .action {
      width: calc(50% - 5px);
      height: 40px;
      box-sizing: border-box;
      line-height: 40px;
      font-family: 'Lato', 'Helvetica', sans-serif;
      text-align: center;
      display: inline-block;

      &:not(.disabled) {
        &:hover {
          cursor: pointer;
          transition: 0.2s ease;
          color: $yellow;
        }
      }

      &.disabled {
        color: $midgrey;
        cursor: normal;
      }

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

/*
DAT GUI
*/
.dg .a {
  margin-right: 20px;
  margin-top: 20px;
}

.dg .cr.number {
  border: none;
  background: none;

  input[type=text]  {
    display: none;
  }
}

.dg.main .close-button {
  display: none;
}

.dg .c {
  width: 66%;
  .slider {
    width: 100%;
    border-radius: 10px;
    height: 12px;

    .slider-fg {
      border-radius: 10px;
    }

    &:hover {
      .slider-fg {
        background: $offwhite;
      }
    }
  }
}

.dg .c .slider-fg {
  background: $midwhite;
}

.dg .property-name {
  width: 33%;
  font-family: 'Lato', Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 20px;
  color: white;
}
