.spotlight-wrapper {
  position: fixed;
  box-sizing: border-box;
  left: 110px;
  right: 0px;
  height: 150px;
  // background: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: $timeline;
  top: 570px;
  // box-shadow: 0 -10px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
  // transition: left 0.2s ease, bottom 0.2s ease;

  .spotlight-toolbar {
    svg {
      display: inline-block;
      float: left;
    }

    .spotlight-group {
      .spotlight-button {
        text,
        rect {
          transition: 1s ease;
        }
        &.active {
          rect {
            fill: $offwhite;
          }
        }
        &:hover {
          cursor: pointer;
          rect {
            transition: 0.2 ease;
            fill: $offwhite;
          }
        }
      }
    }

    .time-controls-inline path {
      cursor: pointer;
      fill: $offwhite;
    }

    .time-controls-inline circle {
      fill: $midwhite;
      fill-opacity: 0.01;
      cursor: pointer;
      stroke: $midwhite;
      stroke-width: 1;
    }

    .time-controls-inline circle {
      stroke: none;
    }

    .time-controls-inline {
      &:hover {
        cursor: pointer;
        circle {
          transition: 0.2s ease;
          fill-opacity: 0.2;
          fill: $offwhite;
        }
        path,
        rect {
          transition: 0.2s ease;
          fill: $offwhite;
        }
      }
    }
  }
}

.spotlight-marker {
  .spotlight-interactive {
    animation: glow 1s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff)
        drop-shadow(0 0 30px #ff1177) drop-shadow(0 0 40px #ff1177);
    }
    to {
      filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff)
        drop-shadow(0 0 15px #ff1177) drop-shadow(0 0 20px #ff1177);
    }
  }
}
