.spotlight-wrapper {
  position: fixed;
  box-sizing: border-box;
  left: 110px;
  right: 0px;
  height: 150px;
  background: rgba(0, 0, 0, 0.8);
  // box-shadow: 0 -10px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
  color: white;
  // transition: left 0.2s ease, bottom 0.2s ease;
  z-index: $timeline;
  top: 570px;

  .spotlight-content {
    .spotlight-toolbar {
      svg {
        display: inline-block;
        float: left;

        .button-group {
          .button {
            float: left;
          }
        }
      }

      .time-controls-inline path {
        cursor: pointer;
        fill: $offwhite;
      }

      .time-controls-inline circle {
        fill: $midwhite;
        fill-opacity: 0.01;
        cursor: pointer;
        stroke: $midwhite;
        stroke-width: 1;
      }

      .time-controls-inline circle {
        stroke: none;
      }

      .time-controls-inline {
        &:hover {
          cursor: pointer;
          circle {
            transition: 0.2s ease;
            fill-opacity: 0.2;
            fill: $offwhite;
          }
          path,
          rect {
            transition: 0.2s ease;
            fill: $offwhite;
          }
        }
      }
    }
  }
}
