.stateoptions-panel {
  position: absolute;
  right: 0;
  box-sizing: border-box;
  margin: 1px 0 0 0;
  padding: 15px;
  border: 1px solid $black;
  transition: 0.2 ease;
  background: $midwhite;
  color: $darkgrey;
  box-shadow: 0 19px 19px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  font-size: $large;
  line-height: $xxlarge;
  height: auto;
  opacity: 0.9;
  transition: background-color 0.4s;

  .button {
    border: 1px solid black;
    padding: 0.3em;
    transition: all 0.3s ease;
    &:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}
