.applied-tagFilters {
  position: fixed;
  top: 135px;
  right: 5px;
  max-width: 260px;
  background: $black;
  color: $offwhite;
  padding: 10px;
  font-size: $small;
  z-index: $map-overlay;

  .caption {
    font-size: $small;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .tag-chip-group {
    display: inline-block;
    width: 100%;
    max-height: 150px;
    background: $midgrey;
    border-radius: 5px;
    margin-top: 5px;
    padding: 0 5px 5px 5px;
    box-sizing: border-box;
    overflow: auto;

    h3 {
      margin: 5px 0;
    }
  }

  .applied-tagFilter-chip {
    width: auto;
    border-radius: 10px;
    border: 0;
    color: $black;
    min-height: 16px;
    line-height: 16px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 1px 5px;
    transition: 0.2s ease;
    background: $yellow;
    float: right;

    &:hover {
      transition: 0.2s ease;
      background: lighten($yellow, 15%);
    }

    &:first-child {
      margin-top: 5px;
    }

    .detail {
      cursor: pointer;
      max-width: 350px;
      margin-right: 15px;
    }

    svg {
      display: inline-block;
      position: relative;
      float: right;
      margin-top: -14px;
      height: 12px;
      width: 12px;
      user-select: none;
      cursor: pointer;
      color: rgba($black, 0.25);
      fill: rgba($black, 0.25);
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

      &:hover {
        color: rgba($black, 0.6);
        fill: rgba($black, 0.6);
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }
    }
  }
}
