name: CI
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '12'

      - run: npm install
      - run: cp example.config.js config.js
      - run: npm test
        env:
          CI: true
      - run: npm run lint
        env:
          CI: true
